[submodule "vim/.vim/bundle/ctrlp.vim.git"]
	path = vim/.vim/bundle/ctrlp.vim.git
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/nerdtree.git"]
	path = vim/.vim/bundle/nerdtree.git
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vdebug.git"]
	path = vim/.vim/bundle/vdebug.git
	url = git@github.com:joonty/vdebug.git

[submodule "vim/.vim/bundle/vim-kolor.git"]
	path = vim/.vim/bundle/vim-kolor.git
	url = git://github.com/zeis/vim-kolor.git
[submodule "vim/.vim/bundle/vim-distinguished.git"]
	path = vim/.vim/bundle/vim-distinguished.git
	url = git://github.com/Lokaltog/vim-distinguished.git
[submodule "vim/.vim/bundle/jellybeans.vim.git"]
	path = vim/.vim/bundle/jellybeans.vim.git
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "vim/.vim/bundle/Hemisu.git"]
	path = vim/.vim/bundle/Hemisu.git
	url = git://github.com/noahfrederick/Hemisu.git
[submodule "vim/.vim/bundle/base16-vim.git"]
	path = vim/.vim/bundle/base16-vim.git
	url = git://github.com/chriskempson/base16-vim.git
[submodule "vim/.vim/bundle/vim-lucius.git"]
	path = vim/.vim/bundle/vim-lucius.git
	url = git://github.com/jonathanfilip/vim-lucius.git
