
[submodule "vim/.vim/bundle/vundle"]
	path = vim/.vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "irssi/extras/solarized"]
	path = irssi/extras/solarized
	url = git://github.com/huyz/irssi-colors-solarized.git
[submodule "X/extras/powerline-fonts.git"]
	path = X/extras/powerline-fonts.git
	url = git://github.com/Lokaltog/powerline-fonts.git

[submodule "zsh/oh-my-zsh.git"]
	path = zsh/oh-my-zsh.git
	url = https://github.com/robbyrussell/oh-my-zsh.git

[submodule "zsh/LS_COLORS.git"]
	path = zsh/LS_COLORS.git
	url = git@github.com:trapd00r/LS_COLORS.git
[submodule "zsh/dircolors-solarized.git"]
	path = zsh/dircolors-solarized.git
	url = https://github.com/seebi/dircolors-solarized.git
