URxvt*title:            urxvt
!! Rrxvt*font:             xft:Dina
!! URxvt.font: xft:ProggyCleanTT-14
!! :style=Regular
URxvt*font: xft:terminus:bold:pixelsize=14

Xft.autohint:           0
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintfull
Xft.hinting:            1
Xft.antialias:          1
Xft.rgba:               rgb

URxvt*scrollBar:        false
URxvt*secondaryscroll:  true
URxvt*matcher.button:   1
URxvt*cursorBlink:      false
URxvt*cursorUnderline:  false
URxvt*cursorColor:      #868887
URxvt*colorBD:          #b4927d
URxvt*internalBorder:   3

URxvt.perl-ext-common:  default,matcher,tabbed
URxvt.transparent:      true
URxvt.shading:          10
URxvt*allow_bold:       true
URxvt*depth:            24
URxvt*dynamicColors:    on

URxvt*mapAlert:         true
URxvt*visualBell:       true
URxvt*urgentOnBell:     true
URxvt*inheritPixmap:    true
URxvt*shading:          10

URxvt.tabbed.tabbar-fg: 8
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    0

!Colors
URxvt*foreground: #696969
URxvt*background: #fffef6
URxvt*color0: #363636
URxvt*color8: #424242
URxvt*color1: #C37561
URxvt*color9:  #D19485
URxvt*color2: #A0A57E
URxvt*color10: #7f8264
URxvt*color3: #b58b62
URxvt*color11: #DEBC9C
URxvt*color4: #1d2b41
URxvt*color12: #98A1B9
URxvt*color5: #AB716D
URxvt*color13: #b4d2c8
URxvt*color6: #98B9B1
URxvt*color14: #769293
URxvt*color7: #9ba0a7
URxvt*color15: #6e7383
