URxvt*title:            urxvt
!! Rrxvt*font:             xft:Dina
!! URxvt.font: xft:ProggyCleanTT-14
!! :style=Regular
URxvt*font: xft:terminus:bold:pixelsize=12

Xft.autohint:           0
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintfull
Xft.hinting:            1
Xft.antialias:          1
Xft.rgba:               rgb

URxvt*background:       #171717
URxvt*foreground:       #7e8082
URxvt*scrollBar:        false
URxvt*secondaryscroll:  true
URxvt*matcher.button:   1
URxvt*cursorBlink:      false
URxvt*cursorUnderline:  false
URxvt*cursorColor:      #868887
URxvt*colorBD:          #b4927d
URxvt*internalBorder:   3

URxvt.perl-ext-common:  default,matcher,tabbed
URxvt.transparent:      true
URxvt.shading:          10
URxvt*allow_bold:       true
URxvt*depth:            24
URxvt*dynamicColors:    on

URxvt*mapAlert:         true
URxvt*visualBell:       true
URxvt*urgentOnBell:     true
URxvt*inheritPixmap:    true
URxvt*shading:          10

URxvt.tabbed.tabbar-fg: 8
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    0

!!Black
URxvt*color0:           #434343
URxvt*color8:           #5d5f5e
!!Red
URxvt*color1:           #a16a71
URxvt*color9:           #c7838f
!!Green
URxvt*color2:           #7aa16a
URxvt*color10:          #93c783
!!Yellow
URxvt*color3:           #a1926a
URxvt*color11:          #c7b983
!!Blue
URxvt*color4:           #6a80a1
URxvt*color12:          #839fc7
!!Magenta
URxvt*color5:           #916aa1
URxvt*color13:          #c483c7
!!Cyan
URxvt*color6:           #6aa0a1
URxvt*color14:          #83c7bc
!!White
URxvt*color7:           #a8a8a8
URxvt*color15:          #cacac8

